@page "/"
@implements IAsyncDisposable
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BookstoreDb> DbContextFactory

<PageTitle>Bookstore -  Home</PageTitle>

<div class="row mt-5 mx-auto">
    <div class="col">
        @if (books is null)
        {
            <p>Loading...</p>
        } else {
            <div class="hstack flex-wrap gap-3">
                @foreach (var book in books) {
                    <BookCard Book="@book" />
                }
            </div>
        }
    </div>
</div>


@code {
    private BookstoreDb context {get; set; }

    private IEnumerable<Book> books => context.Books.AsNoTracking();

    protected override void OnInitialized()
    {
        context = DbContextFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync()
    {
        if (context is not null)
        {
            await context.DisposeAsync();
        }
    }
}